{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}
<h1>About US</h1>

JU Bazar is an e-commerce platform that specializes in selling computers and laptops. As an online marketplace, JU Bazar offers a wide selection of high-quality laptops and desktop computers from various brands. Customers can easily browse through the product catalogue and compare specifications, prices, and user reviews to make informed purchasing decisions. In addition to selling computer hardware, JU Bazar also offers software and accessories that complement the products they sell. With its user-friendly interface and efficient delivery system, JU Bazar provides a convenient and reliable shopping experience for its customers.


{% endblock body %}